html,
body {
    font-family: Raleway, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
.box {
    height: 100%;
    position: relative;
}

#map {
    bottom:0px;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0px;
    z-index: -1;
}
#side-bar {
    background: rgba(0,0,0,0.85);
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 23%;
    z-index: 20;
    left:0;
}

#show-less {
    width: 85%;
    height: 35px;
    margin: 20px 15px 20px 10px;
    padding: 3px;
    background-color: #ff6961;
    color: white;
    text-align: center;
}

#side-bar h1 {
    z-index: 25;
    color: white;
    font-size: 1.5em;
    margin: 20px 15px 20px 5px;
    text-align: center;
}

#search-filter {
    width: 85%;
    margin: 20px 15px 20px 10px;
    padding: 5px;
    height: 30px;
}



