html,
body {
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
.box {
    height: 100%;
    position: relative;
}

#map {
    bottom:0px;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0px;
    z-index: 1;
}
#side-bar {
    background: rgba(0,0,0,0.75);
    position: relative;
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 23%;
    z-index: 20;
    left:0;
    overflow-y: auto;
}

#show-less-more {
    width: 85%;
    height: 45px;
    margin: 20px 15px 20px 10px;
    padding: 3px;
    background-color: #ff6961;
    color: white;
    text-align: center;
}

#side-bar h1 {
    z-index: 25;
    color: white;
    font-size: 1.5em;
    margin: 20px 15px 20px 5px;
    text-align: center;
}

#enter-search {
    width: 85%;
    margin: 20px 15px 20px 10px;
    padding: 5px;
    height: 30px;
}

#filter {
    width: 87%;
    height: 45px;
    margin: 20px 15px 15px 10px;
    padding: 3px;
    background-color: #5286d1;
    color: white;
    text-align: center;
}

#toggle-heart {
    position: absolute;
    font-size: 2em;
    cursor: pointer;
    margin: 2% 40% 5% 40%;
    color:#aab8c2;
}
#toggle-heart.grey {
    color: #aab8c2;
}

#toggle-heart.red {
    color: #e2264d;
}

.locations li {
    cursor: pointer;
}

.loc-list ul li {
    z-index: 25;
    color: white;
    font-size: 1.2em;
    list-style: none;
    text-align: left;
    margin: 20px 15px 20px 0px;
}

